@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


.size-window{
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 30px;
  margin-top: 150px;
}